.human {
    width: 100%;
    height: auto;
    max-width: 380px;
    object-fit: contain;
}

.humanGradient {
    position: relative; /* Важно для псевдоэлемента */
    width: 100%;
    max-width: 380px;
}
.humanGradient::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, var(--color-background), rgba(255,255,255,0) 10%);
    pointer-events: none;
    z-index: 1;
    border-radius: inherit;
}