.titleHeader {
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

@media (max-width: 375px) {
    .titleHeader {
        font-size: 18px;

    }
}

@media (max-width: 320px) {
    .titleHeader {
        font-size: 14px;
    }
}